# General
.DS_Store
.idea
.vscode
*.log
*.tmp
tmp/

# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.*.local

# Build Outputs
dist/
build/
android/
ios/

# Expo
.expo/

# Wizy Specific
*.mp4
*.mov
debug-output.log
dump-output.log
audit_log.txt
