PORT=8787
CORS_ORIGIN=http://localhost:5173
STOCKPILOT_PYTHON_BIN=
FASTER_WHISPER_MODEL=tiny
FASTER_WHISPER_DEVICE=cpu
FASTER_WHISPER_COMPUTE_TYPE=int8
FASTER_WHISPER_BEAM_SIZE=1
FASTER_WHISPER_VAD_FILTER=true
